@using PocketStorage.BFF.Authorization.Enums
@using PocketStorage.BFF.Authorization.Components
@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="true"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<PermitView Context="ParentAuthenticationState">
    <Authorized>
        <MudLayout>
            <MudAppBar Color="Color.Inherit">
                <MudButton Href="/" StartIcon="@Icons.Material.Rounded.RocketLaunch" IconSize="Size.Large" Color="Color.Inherit" Variant="Variant.Text">
                    <MudText Typo="Typo.h6" Inline="true">Pocket Storage</MudText>
                </MudButton>
                <MudButton Href="/" StartIcon="@Icons.Material.Rounded.Home" IconSize="Size.Large" Color="Color.Inherit" Variant="Variant.Text" Class="ml-2">
                    <MudText>Home</MudText>
                </MudButton>
                <MudButton Href="/privacy" StartIcon="@Icons.Material.Rounded.Security" IconSize="Size.Large" Color="Color.Inherit" Variant="Variant.Text" Class="ml-2">
                    <MudText>Privacy</MudText>
                </MudButton>
                <PermitView Permissions="Permission.ViewUsers">
                    <Authorized>
                        <MudButton Href="/user/claims" StartIcon="@Icons.Material.Rounded.Shield" IconSize="Size.Large" Color="Color.Inherit" Variant="Variant.Text" Class="ml-2">
                            <MudText>Claims</MudText>
                        </MudButton>
                    </Authorized>
                </PermitView>
                <MudSpacer/>
                <PermitView>
                    <Authorized>
                        <form action="api/account/sign-out" method="post">
                            <AntiForgeryTokenInput/>
                            <MudButton ButtonType="ButtonType.Submit" StartIcon="@Icons.Material.Rounded.Logout" IconSize="Size.Large" Color="Color.Inherit" Variant="Variant.Text" Class="ml-2">
                                <MudText>Sign out</MudText>
                            </MudButton>
                        </form>
                    </Authorized>
                    <NotAuthorized>
                        <form action="api/account/sign-in" method="post">
                            <AntiForgeryTokenInput/>
                            <MudButton ButtonType="ButtonType.Submit" StartIcon="@Icons.Material.Rounded.Login" IconSize="Size.Large" Color="Color.Inherit" Variant="Variant.Text" Class="ml-2">
                                <MudText>Sign in</MudText>
                            </MudButton>
                        </form>
                    </NotAuthorized>
                </PermitView>
            </MudAppBar>
            <MudMainContent>
                <MudContainer Class="pt-6">
                    @Body
                </MudContainer>
            </MudMainContent>
        </MudLayout>
    </Authorized>
    <Authorizing>
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="100%" Height="75px" Class="mb-6 px-6"/>
        <MudStack Spacing="6" Class="pa-6">
            <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="50%" Height="125px"/>
            <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="50%" Height="250px"/>
            <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="75%" Height="50px"/>
            <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="75%" Height="50px"/>
            <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="50%" Height="50px"/>
            <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="50%" Height="250px"/>
            <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="50%" Height="125px"/>
        </MudStack>
    </Authorizing>
</PermitView>
