@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}

<div class="text-center mb-3">
    <h1 class="display-6">Sign in with an existing account</h1>
</div>
<div class="row justify-content-center">
    <div class="col-12" style="max-width: 20rem;">
        <form id="account" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="mb-3 needs-validation" novalidate>
            <div class="mb-3">
                <label asp-for="Form.Email" class="form-label">Email</label>
                <input asp-for="Form.Email" type="email" class="@(Model.Errors.ContainsKey(nameof(Model.Form.Email)) ? "form-control is-invalid" : "form-control")" autocomplete="email" aria-required="true" placeholder="Please enter your email address" required/>
                @if (Model.Errors.TryGetValue(nameof(Model.Form.Email), out var emailErrors))
                {
                    <div class="invalid-feedback">
                        @emailErrors.First()
                    </div>
                }
            </div>
            <div class="mb-3">
                <label asp-for="Form.Password" class="form-label">Password</label>
                <input asp-for="Form.Password" type="password" class="@(Model.Errors.ContainsKey(nameof(Model.Form.Password)) ? "form-control is-invalid" : "form-control")" autocomplete="password" aria-required="true" placeholder="Please enter your password" required/>
                @if (Model.Errors.TryGetValue(nameof(Model.Form.Password), out var passwordErrors))
                {
                    <div class="invalid-feedback">
                        @passwordErrors.First()
                    </div>
                }
            </div>
            <div class="form-check mb-3">
                <label asp-for="Form.RememberMe" class="form-check-label">Remember me</label>
                <input asp-for="Form.RememberMe" type="checkbox" class="form-check-input"/>
            </div>
            <button id="login-submit" type="submit" class="w-100 btn btn-secondary">Login</button>
        </form>
        <div class="d-flex justify-content-center">
            <div>
                <p>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="page-link">
                        <span class="fa-solid fa-user-plus"></span>
                        Register as a new user
                    </a>
                </p>
                <p>
                    <a id="forgot-password" asp-page="./ForgotPassword" class="page-link">
                        <span class="fa-solid fa-envelope"></span>
                        Forgot your password
                    </a>
                </p>
                <p>
                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation" class="page-link">
                        <span class="fa-solid fa-paper-plane"></span>
                        Resend email confirmation
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
