@page
@using Microsoft.AspNetCore.Authentication
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="text-center">
    <h1 class="display-5">@ViewData["Title"]</h1>
</div>

<div class="d-flex justify-content-center">
    <div class="row justify-content-center">
        <div class="col-12">
             <h2 class="display-6 text-center">Create a new account</h2>
            <hr/>
        </div>
        <div class="col-12" style="max-width: 330px;">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="mb-3">
                    <label asp-for="Form.GivenName" class="form-label">Given name</label>
                    <input asp-for="Form.GivenName" type="text" class="form-control" autocomplete="username" aria-required="true" placeholder="Your name" required/>
                    <span asp-validation-for="Form.GivenName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Form.FamilyName" class="form-label">Family name</label>
                    <input asp-for="Form.FamilyName" type="text" class="form-control" autocomplete="username" aria-required="true" placeholder="Your surname" required/>
                    <span asp-validation-for="Form.FamilyName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Form.Email" class="form-label">Email</label>
                    <input asp-for="Form.Email" type="email" class="form-control" autocomplete="username" aria-required="true" placeholder="Your email address" required/>
                    <span asp-validation-for="Form.Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Form.Password" class="form-label">Password</label>
                    <input asp-for="Form.Password" type="password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Your password" required/>
                    <span asp-validation-for="Form.Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Form.ConfirmPassword" class="form-label">Confirm Password</label>
                    <input asp-for="Form.ConfirmPassword" type="password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm your password" required/>
                    <span asp-validation-for="Form.ConfirmPassword" class="text-danger"></span>
                </div>
                <button id="registerSubmit" type="submit" class="w-100 btn btn-light">Register</button>
            </form>
        </div>

        @*TODO: Integrate external providers.*@
        @*@{
            if ((Model.ExternalLogins?.Count ?? 0) == 0)
            {
                <div class="col-12 mt-5">
                    <h2 class="display-6 text-center">Use another service</h2>
                    <hr/>
                    <p class="text-center">
                        There are no external authentication services configured. See this
                        <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                            article
                            about setting up this ASP.NET application to support logging in via external services
                        </a>.
                    </p>
                </div>
            }
            else
            {
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins!)
                            {
                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                            }
                        </p>
                    </div>
                </form>
            }
        }*@

        <div class="col-12 mt-5">
            <h2 class="display-6 text-center">Use another service</h2>
            <hr/>
            <div class="d-flex justify-content-center">
                <div class="btn-group">
                    <button type="submit" class="btn">
                        <span class="fa-brands fa-microsoft fa-lg"></span>
                        Microsoft
                    </button>
                    <button type="submit" class="btn">
                        <span class="fa-brands fa-google fa-lg"></span>
                        Google
                    </button>
                    <button type="submit" class="btn">
                        <span class="fa-brands fa-facebook fa-lg"></span>
                        Facebook
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
